* {
  margin: 0
}

.app {
  background-color: #fafafa;
  height: 100vh;
  padding: 70px 0 0 0;
}

.app__header {
  background-color: white;
  object-fit: contain;
  padding: 15px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
}
.app__form {
  display:flex;
  flex-direction:column
}
.app__loginButton {
  border-radius: 5px;
}